@using SilberScarves.Controllers
@using SilberScarves.Models
@model IEnumerable<SilberScarves.Models.ScarfItem>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SilberScarves</h1>
    <p class="lead">SilberScarves is a place to buy unique and Custom Scarves </p>
    <p>@Html.ActionLink("See Scarves &raquo;", "Index", "Products", new {area = ""}, new {@class="btn btn-primary btn-large"}) </p>
</div>

<div class="row">
    <div class="container"><h2>Featured Scarves</h2></div>
    @foreach (var scarf in Model)
    {
    <div class="col-md-4">
        <h2>@scarf.name</h2>
        <p>
            @scarf.description
        </p>
        <p> @Html.ActionLink("View Scarf", "Scarf/" + scarf.scarfId, "Products", new {area = ""}, new {@class="btn btn-default"})</p>      
    </div>        
    }
    

</div>