
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<p>
    Thanks for your order. Your account has been charged $@Html.ViewBag.TotalCost 
    You will be notified by email when your order has shipped. 
</p>

