@using System.Data
@using WebGrease
@model IEnumerable<SilberScarves.Models.ScarfOrder>

@{
    ViewBag.Title = "History";
}

<h2> Order History</h2>
@foreach (var item in Model)
{
    <div class="col-md-4"><h4> <b> Order ID: @item.orderId </b> </h4> </div> 
    <div class="col-md-4 col-md-offset-4">
        <span class="pull-right">
            <b> Total: $@item.Scarves.Sum(o => o.price) </b> 
            @if (item.hasShipped)
            {
                <span class="label label-success">Shipped! </span>
            }
            else
            {
                <span class="label label-danger">Not Shipped Yet</span>
            }                           
                                          
        </span> 
    </div>      
    <table class="table">              
        @foreach (var scarf in item.Scarves)
        {
            <tr>
                <td>@Html.ActionLink(@scarf.name, "Scarf", "Products", new {area = "", id = @scarf.scarfId}, new {})</td>
                <td>$@scarf.price</td>
                <td>1</td>
            </tr>
        }
    </table>
}
 