@model IEnumerable<SilberScarves.Models.ScarfItem>

@{
    ViewBag.Title = "Scarves";
}

<h2>Scarves</h2>
@Html.ActionLink("Create a new Scarf", "Create", "Products"); <br />
@foreach (SilberScarves.Models.ScarfItem item in @Model)
{
    <ul>
        <li> @item.name </li>
        <li> @item.description</li>
        <li> @item.price </li>
    </ul>
}